<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>FileManager by Bizon</title>
</head>

<body>
    <header>
        <a href="/">upload</a>
        <a href="/fileManager">FileManager</a>
        <a href="/info/0">info</a>
    </header>
    <div id="content">
        {{{body}}}
    </div>
</body>

</html>