<table>
    <tr>
        <td class="header-column">id</td>
        <td class="header-column">image</td>
        <td class="header-column">name</td>
        <td class="header-column">type</td>
        <td class="header-column">size</td>
        <td class="header-column">-</td>
        <td class="header-column">-</td>
        <td class="header-column">-</td>
    </tr>
    {{#each fileTable}}
    <tr>{{> file}}</tr>
    {{/each}}
</table>